<h1>The houses  </h1>
<h2>  <%= link_to "New House", new_house_path%> </h2>
<% @houses.each do |house| %>

  <div class="house">
    <h2>
    <%= link_to house.name, house%>
    
    </h2>
    <img src="<% house.image_url %>"/>
  <div>

<% end %>
