<h1><%= @house.name %> </h1>
<h2>  <%= link_to "Edit House", edit_house_path%> </h2>
<% @house.students.each do |student| %>
  <div class="student">
    <h2><%= student.name %></h2>
    <%= image_tag student.img_url %>
  </div>
<% end %>
